@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
.card, .owl-item {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.owl-wrapper {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.cards {
  position: relative;
  width: 100%;
  padding: 6em 0;
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0;
  /*@media (max-width: 480px) {
    height: 24em;
  }*/
  padding-bottom: 100%;
  margin: 1em 0;
  border-radius: 4px;
  -webkit-transition: opacity 1s ease, -webkit-transform 0.4s 0.5s ease-out;
  transition: opacity 1s ease, -webkit-transform 0.4s 0.5s ease-out;
  transition: transform 0.4s 0.5s ease-out, opacity 1s ease;
  transition: transform 0.4s 0.5s ease-out, opacity 1s ease, -webkit-transform 0.4s 0.5s ease-out;
  /*box-shadow: inset 0 -280px 140px -70px rgba(0,0,0,.75);
  -webkit-box-shadow: inset 0 -280px 140px -70px rgba(0,0,0,.75); */
}

@media (max-width: 1200px) {
  .card {
    padding-bottom: 150%;
  }
}

.active .card {
  /*box-shadow: inset 0 -280px 140px -70px rgba(0,0,0,.75);
  -webkit-box-shadow: inset 0 -280px 140px -70px rgba(0,0,0,.75);*/
  -webkit-transform: box-shadow 0.3s ease, transform 0.1s 0.4s ease-in, opacity 0.4s ease;
          transform: box-shadow 0.3s ease, transform 0.1s 0.4s ease-in, opacity 0.4s ease;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: left;
  color: #fff;
  position: absolute;
  padding: 2em;
}

.card__content p {
  margin: 0 !important;
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__content a.btn-4 {
  border-color: #fff;
  padding: .25em 1em .5em;
  color: #fff;
  margin: 1em auto 0em 0 !important;
  border-radius: 2px;
  width: auto;
  max-width: 100%;
}

.active .card__content {
  opacity: 1;
}

.card__title {
  display: block;
  width: 100%;
  height: 100;
  font-size: 1.5em;
  font-family: 'Poppins';
  font-weight: 300;
  overflow: hidden;
  margin: 0em 0 .25em 0;
}

.card__title span {
  display: inline-block;
}

.center.active .card__title span, .center.active.cloned:last-child .card__title span {
  opacity: 1;
}

.center .card {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.center .card:hover {
  -webkit-box-shadow: 0 8px 16px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 16px -5px rgba(0, 0, 0, 0.4);
}

.owl-stage > div:nth-of-type(1) .card {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.75))), url(images/friendship.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75)), url(images/friendship.jpg);
  background-position: bottom;
}

.owl-stage > div:nth-of-type(2) .card {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(black)), url(https://www.visitniagaracanada.com/wp-content/uploads/2017/06/canview-1920x2848.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0), black), url(https://www.visitniagaracanada.com/wp-content/uploads/2017/06/canview-1920x2848.jpg);
}

.owl-stage > div:nth-of-type(3) .card {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(black)), url(images/fresh.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0), black), url(images/fresh.jpg);
}

.owl-stage > div:nth-of-type(4) .card {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.75))), url(images/friendship.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75)), url(images/friendship.jpg);
}

.owl-stage > div:nth-of-type(5) .card {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(black)), url(https://www.visitniagaracanada.com/wp-content/uploads/2017/06/canview-1920x2848.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0), black), url(https://www.visitniagaracanada.com/wp-content/uploads/2017/06/canview-1920x2848.jpg);
}

.owl-stage > div:nth-of-type(6) .card {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(black)), url(images/fresh.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0), black), url(images/fresh.jpg);
}

.owl-item .card {
  position: relative;
  background-size: cover !important;
}

.owl-theme .owl-dots .owl-dot span {
  width: 4em;
  height: 4px;
  margin: 0 0.5em;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ff527b;
}

.owl-carousel {
  margin: 0;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.owl-carousel .owl-nav [class*=owl-] {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
  font-size: 11px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 0;
  text-align: center;
}

.owl-carousel .owl-nav [class*=owl-]:hover {
  background: rgba(0, 0, 0, 0.9);
  color: #FFF;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  position: absolute;
  top: 10px;
  height: 30px;
  margin: auto !important;
}

.owl-carousel .owl-prev {
  left: 10px;
  top: calc(50% - 30px);
}

.owl-carousel .owl-next {
  right: 10px;
  top: calc(50% - 30px);
}

.owl-carousel .owl-dots {
  display: none !important;
}
/*# sourceMappingURL=owl-slider.css.map */